# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Egyetem\I ev\II felev\Adatszerkezetek_es_Algoritmusok\Preparing_for_Exam\Minta_Tetel_Automatizalas_Tavkozles\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
