# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Egyetem\I ev\II felev\Adatszerkezetek_es_Algoritmusok\Gyakorlas_Vizsgara\Huni\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
