# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Egyetem\I ev\II felev\Adatszerkezetek_es_Algoritmusok\DSA_CsillagAlex_AUT_C\Labor_5\Stack1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
